<div class="row">
    <!-- Should be dynamic list from database with ng-repeat -->
    <tv-show-card
            id="1"
            ytid="KTu8iDynwNc"
            name="Lost"
            poster="https://images.weserv.nl/?url=thetvdb.com/banners/fanart/original/73739-35.jpg"
            info="After their plane, Oceanic Air flight 815, tore apart whilst thousands of miles off course, the survivors find themselves on a mysterious deserted island where they soon find out they are not alone." >
    </tv-show-card>

    <tv-show-card
            id="2"
            ytid="s7L2PVdrb_8"
            name="Game of Thrones"
            poster="https://images.weserv.nl/?url=thetvdb.com/banners/fanart/original/121361-83.jpg"
            info="Seven noble families fight for control of the mythical land of Westeros. Friction between the houses leads to full-scale war. All while a very ancient evil awakens in the farthest north. Amidst the war, a neglected military order of misfits, the Night's Watch, is all that stands between the realms of men and the icy horrors beyond." >
    </tv-show-card>

    <tv-show-card
            id="3"
            ytid="ixXqHh_Bts8"
            name="One-Punch Man"
            poster="https://images.weserv.nl/?url=thetvdb.com/banners/fanart/original/293088-2.jpg"
            info="The story takes place in the fictional Japanese metropolis of City Z. The world is full of strange monsters that mysteriously appear and cause disasters. Saitama, the protagonist, is an exceptionally powerful hero who easily defeats the monsters or other villains with a single punch. However, due to his overwhelming strength, Saitama has become bored with his powers and is constantly trying to find stronger opponents who can fight him. On his adventures, he meets new friends, enemies, and his own disciple, the cyborg Genos, and joins the Heroes Association in order to gain fame for all of his efforts to defeat evil. Despite defeating many strong monsters that even the Heroes Association’s top members are unable to defeat, Saitama struggles to gain respect. Most people look down on him due to his plain physical appearance, and some accuse him of being a counterfeit hero." >
    </tv-show-card>

    <tv-show-card
            id="4"
            ytid="-XMUi6x2d4Y"
            name="Dimension W"
            poster="https://images.weserv.nl/?url=thetvdb.com/banners/fanart/original/299963-3.jpg"
            info="In the year 2072, the world's energy problems seem solved by a network of cross-dimensional electric-field inductors—'coils'—that extract energy from a seemingly infinite source. That source is the W dimension, a fourth plane that exists beyond the X, Y, and Z dimensions. In this world, unofficial 'illegal' coils harness powers that the police can't hope to counter. Dealing with these coils is the job of coil-hating repo man Kyoma, whose run-in with the unique coil android Mira leads the two to form a reluctant partnership." >
    </tv-show-card>

    <tv-show-card
            id="5"
            ytid="CFG5Sbd5ONw"
            name="The Flash (2014)"
            poster="https://images.weserv.nl/?url=thetvdb.com/banners/fanart/original/279121-23.jpg"
            info="After a particle accelerator causes a freak storm, CSI Investigator Barry Allen is struck by lightning and falls into a coma. Months later he awakens with the power of super speed, granting him the ability to move through Central City like an unseen guardian angel. Though initially excited by his newfound powers, Barry is shocked to discover he is not the only 'meta-human' who was created in the wake of the accelerator explosion – and not everyone is using their new powers for good. Barry partners with S.T.A.R. Labs and dedicates his life to protect the innocent. For now, only a few close friends and associates know that Barry is literally the fastest man alive, but it won't be long before the world learns what Barry Allen has become... The Flash" >
    </tv-show-card>

    <tv-show-card
            id="6"
            ytid="krqqqgixNq8"
            name="The Expanse"
            poster="https://images.weserv.nl/?url=thetvdb.com/banners/fanart/vignette/280619-12.jpg"
            info="Two hundred years in the future, in a fully colonized solar system, police detective Josephus Miller is given the assignment to find a missing young woman, Julie Mao. Joining his task is James Holden, former first officer of an ice freighter who is involved in an incident caused by the tense relationship between Earth, Mars and the Belt. Far from their struggles in space, United Nations executive Chrisjen Avasarala works to prevent war between Earth and Mars. Soon the three find out that the missing woman is connected to a vast conspiracy that threatens all humanity." >
    </tv-show-card>
</div>