<style parse-style>
    html {
        background: url(https://images.weserv.nl/?url=thetvdb.com/banners/fanart/original/279121-23.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

</style>

<div class="card-panel">
    <div class="row valign-wrapper" style="margin-bottom: 0px !important;">
        <div class="col s9 m9 l10">
            <h5>The Flash (2014)</h5>
            <p>After a particle accelerator causes a freak storm, CSI Investigator Barry Allen is struck by lightning and falls into a coma. Months later he awakens with the power of super speed, granting him the ability to move through Central City like an unseen guardian angel. Though initially excited by his newfound powers, Barry is shocked to discover he is not the only 'meta-human' who was created in the wake of the accelerator explosion – and not everyone is using their new powers for good. Barry partners with S.T.A.R. Labs and dedicates his life to protect the innocent. For now, only a few close friends and associates know that Barry is literally the fastest man alive, but it won't be long before the world learns what Barry Allen has become... The Flash</p>
        </div>
        <div class="col s3 m3 l2">
            <img src="https://images.weserv.nl/?url=thetvdb.com/banners/posters/279121-28.jpg" alt="" class="responsive-img">
        </div>
    </div>
</div>



<ul class="collapsible popout" data-collapsible="expandable">
    <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Season 3</div>
        <div class="collapsible-body">

        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Season 2</div>
        <div class="collapsible-body">

        </div>
    </li>
    <li>
        <div class="collapsible-header active"><i class="material-icons">whatshot</i>Season 1</div>
        <div class="collapsible-body">
            <ul class="collection">
                <li class="collection-item">
                    <div class="row">
                        <div class="col s1">#4</div>
                        <div class="col s6">Going Rogue</div>
                        <div class="col s3">2014-10-28</div>
                        <div class="col s2">...</div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s1">#3</div>
                        <div class="col s6">Things You Can't Outrun</div>
                        <div class="col s3">2014-10-21</div>
                        <div class="col s2">...</div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s1">#2</div>
                        <div class="col s6">Fastest Man Alive</div>
                        <div class="col s3">2014-10-14</div>
                        <div class="col s2">...</div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s1">#1</div>
                        <div class="col s6">City of Heroes</div>
                        <div class="col s3">2014-10-07</div>
                        <div class="col s2">...</div>
                    </div>
                </li>
            </ul>
        </div>
    </li>
</ul>

<script type="text/javascript">
    $(document).ready(function(){
        $('.collapsible').collapsible();
    });
</script>